
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AnyQuantour</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/basement.js"></script>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/base-style.css"/>
    <link rel="stylesheet" href="../../static/css/logcss.css"/>
    <script type="text/javascript" language="JavaScript">

    </script>
</head>
<body>
<div class="header">
    <div class="headerimage" style="">
        <nav>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div>
                    <div class="navbar-hedaer">
                        <a class="navbar-brand" href="#">AnyQuantour</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class=""><a href="/index">首页</a></li>
                        <li class=""><a href="/market">市场</a></li>
                        <li class=""><a href="/stocklist">股票</a></li>
                    </ul>
                    <div class="searchwrap" align="right">
                        <form action="/stock">
                            <input class="searchbox" type="search" name="stockname" placeholder="搜索股票">
                            <button class="searchbutton" type="submit" id="search_button"><img src="../../static/images/icon/search.png" style="width: 20px;height:20px;padding:0;z-index: 0;position: relative;"></button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="content" style="height:80%;">
    <div class="container masking" style="height:100%; background-color: rgba(255,255,255,0)">
        <div style="height: 100%;">
            <div class="row" style="height:15%;"></div>
            <div class="row" style="height:65%; width: 100%;max-width: 400px; margin:auto auto;">
                <div class="col-md-12 loginwrap">
                    <h2 style="text-align: center">登录</h2>
                    <div class="seperator" style="background-color: #1d3c54"></div>
                    <form>
                        <table class="log-table" style="width: 100%;">
                            <tr>
                                <td><h4 align="right">用户名</h4></td>
                                <td align="right"><input type="text" class="log-input" name="username" title="login"></td>
                            </tr>
                            <tr>
                                <td><h4 align="right">密码</h4></td>
                                <td align="right"><input type="password" class="log-input" name="pw" title="login"></td>
                            </tr>
                            <tr>
                                <td><h4 align="right">保持登录</h4></td>
                                <td align="right">
                                    <div class="log-checkbox">
                                        <input type="checkbox" id="keeplen" name="keeplength">
                                        <label for="keeplen"></label>
                                    </div>
                                    <select title="login" class="log-input" name="keeplength">
                                        <option value="1">1天</option>
                                        <option value="7">1周</option>
                                        <option value="30">1月</option>
                                        <option value="90">3月</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <button class="log-button" type="submit">登录</button>
                                </td>
                            </tr>
                        </table>

                    </form>
                </div>
            </div>
            <div class="row" style="height:20%;"></div>
        </div>
    </div>

</div>
<footer class="footer">
    <div class="container">
        <div class="row seperator"></div>
        <div class="row">
            <div class="col-sm-5 clu">
                <p>由AnyEight小组制作</p>
                <p>此网站为课程学习项目, 不允许用于商业用途.</p>
                <p>NJU Software Institute 2017.5</p>
            </div>
            <div class="col-sm-7"></div>
        </div>
    </div>
</footer>
</body>
</html>

