.plate1-button{
    transition: all ease 0.3s;
    box-shadow: 0 0 0 rgba(0,0,0,0.3);
    position: relative;
    vertical-align: bottom;
    border: none;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background: url("../images/icon/plate1.png") no-repeat center center;
    align-content: center;
}
.plate1-button:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.plate1-button.active {
    background-color: rgb(200, 200, 200);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
.plate1-button>span{
    text-align: center;
    font-size: 16px;
    position: relative;
    display: inline-block;
}

.plate2-button{
    transition: all ease 0.3s;
    box-shadow: 0 0 0 rgba(0,0,0,0.3);
    position: relative;
    vertical-align: bottom;
    border: none;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background: url("../images/icon/plate2.png") no-repeat center center;
    align-content: center;
}
.plate2-button:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.plate2-button.active {
    background-color: rgb(200, 200, 200);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
.plate2-button>span{
    text-align: center;
    font-size: 16px;
    position: relative;
    display: inline-block;
}

.plate3-button{
    transition: all ease 0.3s;
    box-shadow: 0 0 0 rgba(0,0,0,0.3);
    position: relative;
    vertical-align: bottom;
    border: none;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background: url("../images/icon/plate3.png") no-repeat center center;
    align-content: center;
}
.plate3-button:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.plate3-button.active {
    background-color: rgb(200, 200, 200);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
.plate3-button>span{
    text-align: center;
    font-size: 16px;
    position: relative;
    display: inline-block;
}

a::-webkit-input-placeholder:after{
    display:block;
    content:"line@ \A line#";/*  \A 表示换行  */
    color:red;
}