input[type=checkbox]{
    visibility: hidden;
}
.input-checkbox-wrap{
    margin: 5px 0;
    height: 25px;
    width: 25px;
    display: inline-block;
    position:relative;
}
.input-checkbox-wrap span{
    padding-top: 4px !important;
}
.input-checkbox-wrap>label{
    position: absolute;
    top:0;
    left:0;
    background-color:transparent;
    border-radius: 5px;
    border: 2px solid lightgray;
    display: block;
    width: 25px;
    height:25px;
    margin:0;
    transition: all ease 0.2s;
}
.input-checkbox-wrap>input[type=checkbox]:checked+label{
    background-color: lightblue;
}
.input-checkbox-wrap>label:hover{
    background-color: #eeeeee;
}
.button {
    background-color: gray;
    color:white;
    border-style: none;
    border-radius: 3px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
    top: 0;
    height: 36px;
    width: 80px;
    outline: none;
    transition: all ease 0.2s;
    position: relative;
}
.button:hover{
    background-color: #343434;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.button:active{
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
}