.rank-header{
    padding:10px 0 0;
    overflow: hidden;
}

.condition-item{
    height: 40px;
    margin-top: 3px;
    overflow: hidden;
}

.condition_name{
    float:left;
    text-align: left;
    width:30%;
}

.condition_percent{
    float: left;
    height: 30px;
    text-align: left;
    width:50%;
}
.condition_compare{
    float: left;
    height: 30px;
    text-align: left;
    width:30%;

}
.condition_value{
    float: left;
    height: 30px;
    text-align: left;
    width:20%;
}
.condition_action{
    float: left;
    height: 30px;
    width: 20%;
}

.condition_txt{
    float: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.condition{
    margin: 0 10px;
    width: 25%;
}
.condition>select{
    max-width: 200px;
}
.checkbox{
    float: right;
}
.input_value{
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    transition: all ease 0.3s;
    outline:none;
}
.input_value:focus{
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
#rankPanel{
    display: none;
}
#filterPanel{
    display: none;
}
#filterPanel>th,#filterPanel>td{
    padding: 5px
}
#rankPanel.active{
    display: table;
    width: 100%;
    margin: 10px 0;
}
#rankPanel>th,#rankPanel>td{
    padding: 5px;
}
#filterPanel.active{
    display: table;
    width: 100%;
    margin: 10px 0;
}
.ae-checkbox {
    display: block;
    border-width: 2px;
    border-color: #777777;
    border-radius: 5px;
    width: 30px;
    height:30px;
    background-color: transparent;
    transition: all ease 0.3s;
}
.plate-button{
    transition: all ease 0.3s;
    box-shadow: 0 0 0 rgba(0,0,0,0.3);
    position: relative;
    vertical-align: bottom;
    border: none;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background: url("../images/icon/plate.png") no-repeat center center;
    align-content: center;
}
.plate-button:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.plate-button.active {
    background-color: rgb(200, 200, 200);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
.plate-button>span{
    text-align: center;
    font-size: 16px;
    position: relative;
    display: inline-block;
}
#chosenPlate{
    padding: 10px;

}