<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="anyeight.dao.StockMapper">
    <!--<resultMap id="StockBaseMap" type="anyeight.po.StockPO">-->
        <!--<id column="date" jdbcType="DATE" property="date"/>-->
        <!--<result column="open" jdbcType="DOUBLE" property="open"/>-->
        <!--<result column="high" jdbcType="DOUBLE" property="high"/>-->
        <!--<result column="close" jdbcType="DOUBLE" property="close"/>-->
        <!--<result column="low" jdbcType="DOUBLE" property="low"/>-->
        <!--<result column="volume" jdbcType="DOUBLE" property="volume"/>-->
        <!--<result column="price_change" jdbcType="DOUBLE" property="price_change"/>-->
        <!--<result column="p_change" jdbcType="DOUBLE" property="p_change"/>-->
        <!--<result column="ma5" jdbcType="DOUBLE" property="ma5"/>-->
        <!--<result column="ma10" jdbcType="DOUBLE" property="ma10"/>-->
        <!--<result column="ma20" jdbcType="DOUBLE" property="ma20"/>-->
        <!--<result column="v_ma5" jdbcType="DOUBLE" property="v_ma5"/>-->
        <!--<result column="v_ma10" jdbcType="DOUBLE" property="v_ma10"/>-->
        <!--<result column="v_ma20" jdbcType="DOUBLE" property="v_ma20"/>-->
    <!--</resultMap>-->

    <resultMap id="StockBaseMap" type="anyeight.model.Stock">
        <id column="date" jdbcType="DATE" property="date"/>
        <result column="open" jdbcType="DOUBLE" property="open"/>
        <result column="high" jdbcType="DOUBLE" property="high"/>
        <result column="close" jdbcType="DOUBLE" property="close"/>
        <result column="low" jdbcType="DOUBLE" property="low"/>
        <result column="volume" jdbcType="BIGINT" property="volome"/>
        <!--还没有这个元素，先用low代替-->
        <result column="adjClose" jdbcType="DOUBLE" property="adjClose"/>
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <!--还没有这个元素-->
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="industry" jdbcType="VARCHAR" property="market"/>
        <result column="turnover" javaType="DOUBLE" property="turnover"/>
    </resultMap>


    <resultMap id="AverageMap" type="anyeight.model.Average">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="ma5" jdbcType="DOUBLE" property="average5"/>
        <result column="ma10" jdbcType="DOUBLE" property="average10"/>
        <result column="ma20" jdbcType="DOUBLE" property="average20"/>
    </resultMap>

    <resultMap id="BuyAndSellPrice" type="anyeight.model.BuyAndSellPrice">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="close" jdbcType="DOUBLE" property="startAdjClose"/>
        <result column="close2" jdbcType="DOUBLE" property="endAdjClose"/>
    </resultMap>

    <resultMap id="K_MarketMap" type="anyeight.model.K_Market">
        <id column="index" jdbcType="VARCHAR"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="open" jdbcType="DOUBLE" property="open"/>
        <result column="high" jdbcType="DOUBLE" property="high"/>
        <result column="low" jdbcType="DOUBLE" property="low"/>
        <result column="close" jdbcType="DOUBLE" property="close"/>
        <result column="volume" jdbcType="BIGINT" property="volome"/>
    </resultMap>

    <resultMap id="testMap" type="HashMap">
        <id column="name" property="name"/>
        <result column="code" property="code"/>
    </resultMap>

    <resultMap id="StandardLineMap" type="HashMap">
        <id column="date" property="name"/>
        <result column="code" property="code"/>
    </resultMap>

    <resultMap id="MarketMap" type="anyeight.model.Market">
        <id column="date" jdbcType="DATE" property="date"/>
        <result column="totalVolume" jdbcType="BIGINT" property="totalVolume"/>
        <result column="hardenStock" jdbcType="INTEGER" property="hardenStock"/>
        <result column="dropStock" jdbcType="INTEGER" property="dropStock"/>
        <result column="over5Stock" jdbcType="INTEGER" property="over5Stock"/>
        <result column="down5Stock" jdbcType="INTEGER" property="down5Stock"/>
        <result column="over5PriceStock" jdbcType="INTEGER" property="over5PriceStock"/>
        <result column="down5PriceStock" jdbcType="INTEGER" property="down5PriceStock"/>
    </resultMap>


    <resultMap id="MarketInTimeMap" type="anyeight.model.MarketInTime">
        <collection ofType="Date" property="dateList">
            <constructor>
                <arg column="date"/>
            </constructor>
        </collection>
        <collection ofType="Integer" property="over5">
            <constructor>
                <arg column="hardenStock"/>
            </constructor>
        </collection>
        <collection ofType="Integer" property="lower5">
            <constructor>
                <arg column="dropStock"/>
            </constructor>
        </collection>
    </resultMap>

    <resultMap id="AdjCloseMap" type="anyeight.model.AdjClose">
        <id column="stock_code" jdbcType="VARCHAR" property="ID"/>
        <collection property="mapList" ofType="map" javaType = "List">
            <result column="map_canlendar" property="key"/>
            <result column="map_adjclose" property="value"/>
        </collection>
    </resultMap>

    <resultMap id="StringMap" type="String">
        <id column="a" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="Dragon" type="anyeight.model.Dragon">
        <id column="index" jdbcType="VARCHAR"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pchange" jdbcType="DOUBLE" property="pchange"/>
        <result column="amount" jdbcType="DOUBLE" property="amount"/>
        <result column="buy" jdbcType="DOUBLE" property="buy"/>
        <result column="bratio" jdbcType="DOUBLE" property="bratio"/>
        <result column="sell" jdbcType="DOUBLE" property="sell"/>
        <result column="sratio" jdbcType="DOUBLE" property="sratio"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="date" jdbcType="DATE" property="date"/>
    </resultMap>

    <!--<resultMap id="StockInTimeMap" type="anyeight.model.StockInTime">-->
        <!--<id column="id" jdbcType="VARCHAR" property="ID"/>-->
        <!--<collection property="mapList" ofType="map" javaType = "List">-->
            <!--<result column="map_canlendar" property="date"/>-->
            <!--<result column="stock" property="stock" javaType="anyeight.model.Stock"/>-->
        <!--</collection>-->
    <!--</resultMap>-->

    <select id="getStockId" parameterType="String" resultType="String">
        SELECT code
        FROM stock_info
        WHERE name = #{str}
    </select>

    <select id="getOneStock"  resultMap="StockBaseMap">
        SELECT s.date AS date,
               s.open AS open,
               s.high AS high,
               s.close AS close,
               s.low AS low,
               s.volume AS volume
            ,adj.close AS adjClose,
               s.id AS id,
               info.name AS name,
               info.industry AS industry,
              s.turnover AS turnover
        FROM stock s,stock_info info,stock_adjinfo adj
        WHERE s.id = #{0} and info.code = #{0} and adj.code = #{0}
        and s.date &gt;= #{1, jdbcType = DATE}
        and s.date &lt;= #{2, jdbcType = DATE}
        and adj.date = s.date
        ORDER BY s.date DESC
    </select>

    <select id="getRecentlyStock" resultMap="StockBaseMap">
        SELECT s.date AS date,
               s.open AS open,
               s.high AS high,
               s.close AS close,
               s.low AS low,
               s.volume AS volume
            ,adj.close AS adjClose,
               s.id AS id,
               info.name AS name,
               info.industry AS industry,
               s.turnover AS turnover
        FROM stock s,stock_info info,stock_adjinfo adj
        WHERE s.id = #{0} and info.code = #{0} and adj.code = #{0}
              and s.date &lt;= #{1, jdbcType = DATE}
              and adj.date = s.date
        ORDER BY s.date DESC
        LIMIT 1
    </select>
    
    <select id="getOneDayStock" resultMap="StockBaseMap">
        SELECT s.date AS date,
               s.open AS open,
               s.high AS high,
               s.close AS close,
               s.low AS low,
               s.volume AS volume
            ,adj.close AS adjClose,
               s.id AS id,
               info.name AS name,
               info.industry AS industry,
            s.turnover AS turnover
        FROM stock s,stock_info info,stock_adjinfo adj
        WHERE  s.date = #{beginData} and adj.date = s.date
        and s.id = info.code and adj.code = info.code
    </select>

    <!--不能返回一个完整的Map，现在只能返回List<Map>-->
    <select id="getIDList" resultType="HashMap">
        SELECT name,code
        FROM stock_info
    </select>

    <select id="getAverageList" resultMap="AverageMap">
        SELECT id,ma5,ma10,ma20
        FROM stock
        WHERE id = #{0} and date &gt;= #{1} and date &lt;= #{2}
    </select>

    <select id="getMarket" resultMap="MarketMap">
        SELECT *
        FROM market
        WHERE date = #{0}
    </select>

    <select id="getMarketInTime" resultMap="MarketMap">
        SELECT *
        FROM market m
        WHERE m.date &gt;= #{0} and m.date &lt;= #{1}
    </select>

    <select id="getExCalendar" resultType="java.sql.Date">
        SELECT min(date)
        FROM (SELECT date
              FROM stock
              WHERE date &lt; #{1}
              GROUP BY date
              ORDER BY date DESC
              LIMIT #{day}) x
</select>

    <select id="getAfterCalendar" resultType="java.sql.Date">
        SELECT max(date)
        FROM (SELECT date
              FROM stock
              WHERE date &gt; #{1}
              GROUP BY date
              ORDER BY date ASC
              LIMIT #{day}) x
        LIMIT 1

    </select>

    <select id="getStocksByPlate" resultType="String">
        SELECT code
        FROM stock_info
        WHERE plate = #{0}
    </select>

    <select id="getStocksNameByPlate" resultType="String">
        SELECT name
        FROM stock_info
        WHERE industry = #{0}
    </select>

    <!--大盘000001，主板000300，中小板399005，创业板399006-->
    <select id="getStandardLine" resultType="HashMap">
        SELECT market2.date, (market1.open-market2.open)/market1.open AS open
        FROM stock_market market1, stock_market market2
        WHERE market1.date = #{0} and market2.date &gt;= #{0} and market2.date &lt;= #{1}
              and market1.code = #{2} and market2.code = #{2}
    </select>

    <select id="getAvailableClose" resultMap="BuyAndSellPrice">
        select n1.code AS id, n1.close, n2.close as close2
        from stock_adjinfo n1, stock_adjinfo n2
        where n1.code in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
              #{item}
        </foreach>
        AND n1.date = #{0} AND n2.date = #{1} AND n1.code = n2.code
    </select>

    <select id="getAdjClose" resultMap="AdjCloseMap">
        SELECT code stock_code,close map_adjclose, date map_canlendar
        FROM stock_adjinfo
        WHERE code in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        and date &gt;= #{1} AND date &lt;= #{2}
    </select>

    <!--<select id="getStockList" resultMap="StockInTimeMap">-->
        <!--SELECT s.date AS date,-->
               <!--s.open AS open,-->
               <!--s.high AS high,-->
               <!--s.close AS close,-->
               <!--s.low AS low,-->
               <!--s.volume AS volume-->
            <!--,adj.close AS adjClose,-->
               <!--s.id AS id,-->
               <!--info.name AS name,-->
               <!--info.industry AS industry-->
        <!--FROM stock s,stock_info info,stock_adjinfo adj-->
        <!--WHERE s.date = #{0} and s.id = info.code and info.industry = #{1} and adj.code = s.id and adj.date = s.date-->
        <!--ORDER BY volume-->
        <!--LIMIT 3-->
    <!--</select>-->
    <select id="getStockList" resultMap="StockBaseMap">
        SELECT s.date AS date,
               s.open AS open,
               s.high AS high,
               s.close AS close,
               s.low AS low,
               s.volume AS volume
            ,adj.close AS adjClose,
               s.id AS id,
               info.name AS name,
               info.industry AS industry,
               s.turnover AS turnover
        FROM stock s,stock_info info,stock_adjinfo adj
        WHERE s.id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        and s.id = info.code and s.id = adj.code
        and s.date &gt;= #{0} and s.date &lt;= #{1} and adj.date = s.date
    </select>

    <select id="getBlockNameList" resultType="String">
        SELECT industry
        FROM stock_info
        GROUP BY industry
    </select>

    <select id="getHottestStock" resultMap="StockBaseMap">
        SELECT s.date AS date,
               s.open AS open,
               s.high AS high,
               s.close AS close,
               s.low AS low,
               s.volume AS volume
            ,adj.close AS adjClose,
               s.id AS id,
               info.name AS name,
               info.industry AS industry,
            s.turnover AS turnover
        FROM stock s,stock_info info,stock_adjinfo adj
        WHERE s.date = #{0} and s.id = info.code and info.industry = #{1} and adj.code = s.id and adj.date = s.date
        ORDER BY volume
        LIMIT 3
    </select>

    <select id="getK_Market" resultMap="K_MarketMap">
        SELECT *
        FROM stock_market
        WHERE code = 'sh000001' and date = #{0}
    </select>

    <select id="getK_Market_More" resultMap="K_MarketMap">
        SELECT *
        FROM stock_market
        WHERE code = #{0} and date &gt;= #{1} and date &lt;= #{2}
    </select>

    <select id="getProperStocks" resultMap="StockBaseMap">
        SELECT s.date AS date,
        s.open AS open,
        s.high AS high,
        s.close AS close,
        s.low AS low,
        s.volume AS volume
        ,adj.close AS adjClose,
        s.id AS id,
        info.name AS name,
        info.industry AS industry,
            s.turnover AS turnover
        FROM stock s,stock_info info,stock_adjinfo adj
        WHERE (info.code LIKE concat('%',#{1},'%')
              or info.name LIKE concat('%',#{1},'%')
              or info.industry LIKE concat('%',#{1},'%')
              or info.area LIKE concat('%',#{1},'%'))
              and s.id = info.code and adj.code = info.code
              and s.date = #{0} and adj.date = s.date
    </select>

    <select id="hasProperStocks" resultType="Boolean">
        SELECT count(*)
        FROM stock_info
        WHERE code LIKE concat('%',#{0},'%')
              or name LIKE concat('%',#{0},'%')
              or industry LIKE concat('%',#{0},'%')
              or area LIKE concat('%',#{0},'%')
    </select>

    <select id="getHottestMarket" resultType="HashMap">
        SELECT first,second,third,fourth,fifth,sixth,seventh,eighth,ninth
        FROM host_plate
        WHERE date = #{0};
    </select>

    <select id="getAssociatingInputCode" resultType="String">
        SELECT name
        FROM stock_info
        WHERE code LIKE concat(#{0},'%')
    </select>

    <select id="getAssociatingInputName" resultType="String">
        SELECT name
        FROM stock_info
        WHERE name LIKE concat(#{0},'%')
    </select>

    <select id="getList" resultMap="StringMap">
        SELECT (name + '/' + code) AS a
        FROM stock_info
    </select>

    <select id="getDragon" resultMap="Dragon">
        SELECT *
        FROM dragon
        WHERE date = #{0}
    </select>

    <!--<select id="getProperStocksById" resultMap="StockBaseMap">-->
        <!--SELECT s.date AS date,-->
            <!--s.open AS open,-->
            <!--s.high AS high,-->
            <!--s.close AS close,-->
            <!--s.low AS low,-->
            <!--s.volume AS volume-->
            <!--,adj.close AS adjClose,-->
            <!--s.id AS id,-->
            <!--info.name AS name,-->
            <!--info.industry AS industry,-->
    <!--s.turnover AS turnover-->
        <!--FROM stock s,stock_info info,stock_adjinfo adj-->
        <!--WHERE s.id LIKE concat('%',#{1},'%') and info.code = s.id and adj.code = s.id-->
              <!--and s.date = #{0}-->
              <!--and adj.date = s.date-->
    <!--</select>-->

    <!--<select id="getProperStocksByName" resultMap="StockBaseMap">-->
        <!--SELECT s.date AS date,-->
               <!--s.open AS open,-->
               <!--s.high AS high,-->
               <!--s.close AS close,-->
               <!--s.low AS low,-->
               <!--s.volume AS volume-->
            <!--,adj.close AS adjClose,-->
               <!--s.id AS id,-->
               <!--info.name AS name,-->
               <!--info.industry AS industry,-->
    <!--s.turnover AS turnover-->
        <!--FROM stock s,stock_info info,stock_adjinfo adj-->
        <!--WHERE info.name LIKE concat('%',#{1},'%') and info.code = s.id and adj.code = info.code and s.id = adj.code-->
              <!--and s.date = #{0}-->
              <!--and adj.date = #{0}-->
    <!--</select>-->

</mapper>